<h1>Dashboard</h1>
<p><%= link_to 'Authentications', authentications_path %></p>
<p><%= link_to 'Feeds', feeds_path %></p>
<p><%= link_to 'Bookmarklet', raw("javascript:(function(){window.location='http://#{request.raw_host_with_port}/bookmarklet';return false;})();") %></p>

